.header, .header__left, .header__right {
    display: flex;
    flex-direction: row;
}

.header {
    padding: 0 80px;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background: #FFFFFF;
    border-bottom: 1px solid #DAE4F2;
}

.header__left div {
    margin: 0 5px;
}

.header__left-text {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
}

.header__left-text a {
    color: #252F48;
}

.header__left-arrow {
    color: #0AD69C;
    font-size: 13px;
}

.header__right div {
    margin: 0 5px;
}

.header__right-text {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 15px;
}

.header__right-arrow {
    font-size: 14px;
}

.header__left-arrow a {
    color: #252F48;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background-color: #01134E;
    text-align: center;
}

.nav__logo {
    margin: 15px 0;
}

.nav__content {
    margin-top: 50px;
}

.nav__content-item {
    margin: 10px 0;
    padding: 20px 0;
}

.nav__content-item i {
    color: rgba(255, 255, 255, 0.5);
}

.nav__content-item.active-item {
    border-left: 3px solid #0AD69C;
}

.nav__content-item.active-item i {
    color: #FFF;
}

.content {
    padding: 0 80px;
    min-width: 1170px;
    height: 550px;
}

.content__item {
    margin-top: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
}




@media screen and (min-width: 320px) and (max-width: 425px) {
    .container {
        margin: 0 auto;
        padding: 0 15px;
        min-width: 320px;
    }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
    .container {
        margin: 0 auto;
        padding: 0 15px;
        min-width: 4260px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
    .container {
        margin: 0 auto;
        padding: 0 15px;
        min-width: 320px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        margin: 0 auto;
        max-width: 1170px;
    }
}