body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(darkblue, transparent 1px),
                linear-gradient(90deg, darkblue, transparent 1px);
    background-size: 30px 30px;
}

body .res {
    color: green;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, serif;
    height: 50px;
}

body .step-info {
    color: green;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, serif;
    height: 50px;
}

body .blue{
    color: blue;
}

body .red{
    color: red;
}

body .game {
    width: 360px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    outline: 3px solid black;
    margin: 30px 0;
}

body .game .box {
    width: 120px;
    height: 120px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .new-game {
    background-color: green;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.active {
    background-color: rgba(0, 255, 0, 0.5);
}

body .game .box .circle {
    height: 100%;
    width: 100%;
    /* Узначем длину круга в JS на консоль.
    let a = document.querySelector('circle');
    console.log(a.getTotalLength()) // результат 282,2866*/
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    animation: draw 1s forwards;
}

body .game .box .cross {
    height: 100%;
    width: 100%;
}

.first {
    /* Узначем длину круга в JS на консоль.
    let a = document.querySelector('line');
    console.log(a.getTotalLength()) // результат 120,2081*/
    stroke-dasharray: 121;
    stroke-dashoffset: 121;
    animation: draw 0.6s forwards;
}

.second {
    /* Узначем длину круга в JS на консоль.
    let a = document.querySelector('line');
    console.log(a.getTotalLength()) // результат 120,2081*/
    stroke-dasharray: 121;
    stroke-dashoffset: 121;
    animation: draw 0.6s 0.6s forwards;
}

@keyframes draw {
    100% {stroke-dashoffset: 0} /*На 100% вернуть на 0*/
}